<div class="topbar">
  <div class="topbar-left">
    <a href="https://www.instagram.com/ucundinamarcaoficial/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/ucundinamarcaoficial/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.youtube.com/@ucundinamrcatv" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/school/ucundinamarcaoficial/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.tiktok.com/@ucundinamarca_oficial" target="_blank"><i class="fab fa-tiktok"></i></a>
  </div>
  <div class="topbar-right">
    @if (currentUser$ | async; as user) {
      <span class="user-name"><i class="fas fa-user-circle"></i> {{ user }}</span>
      <a (click)="logout()" class="btn-login btn-logout">Cerrar Sesion</a>
    } @else {
      <a routerLink="/login" class="btn-login">Iniciar Sesion</a>
    }
  </div>
</div>